.rate-0 {
  fill: #fefaea;
  background-color: #fefaea;
}
.rate-1 {
  fill: #fdf5d8;
  background-color: #fdf5d8;
}
.rate-2 {
  fill: #fcf1c5;
  background-color: #fcf1c5;
}
.rate-3 {
  fill: #fbecb2;
  background-color: #fbecb2;
}
.rate-4 {
  fill: #fae8a0;
  background-color: #fae8a0;
}
.rate-5 {
  fill: #f9e38d;
  background-color: #f9e38d;
}
.rate-6 {
  fill: #f8de7a;
  background-color: #f8de7a;
}
.rate-7 {
  fill: #f7da68;
  background-color: #f7da68;
}
.rate-8 {
  fill: #f6d555;
  background-color: #f6d555;
}
.rate-9 {
  fill: #f5d142;
  background-color: #f5d142;
}
.rate-10 {
  fill: #f4cc30;
  background-color: #f4cc30;
}
.rate-11 {
  fill: #f3c81d;
  background-color: #f3c81d;
}
.rate-12 {
  fill: #f0c20d;
  background-color: #f0c20d;
}