.rate-0 {
  fill: #fae9e6;
  background-color: #fae9e6;
}
.rate-1 {
  fill: #f0beb6;
  background-color: #f0beb6;
}
.rate-2 {
  fill: #e79689;
  background-color: #e79689;
}
.rate-3 {
  fill: #e38977;
  background-color: #e38977;
}
.rate-4 {
  fill: #df7863;
  background-color: #df7863;
}
.rate-5 {
  fill: #d95f47;
  background-color: #d95f47;
}
.rate-6 {
  fill: #c12d0f;
  background-color: #c12d0f;
}
.rate-7 {
  fill: #800000;
  background-color: #800000;
}
